
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hola Señor Administrador :v</h2>
<body>
    <p>
        Aqui Podras controlar todo lo que suceda en la pagina (actua con responsabilidad)
    </p>
    <img href="~/Content/Imagenes/OIP.jpg"/>

</body>
<!--TU CREASTE ESTO?! ME PUEDES DECIR COMO LO HICISTE!! -->
<!--Creo que lo confundiste, las vistas no se crean asi, -->
