
@{
    ViewBag.Title = "ClientView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ClientView</h2>

<h2>Hola futuro chef :v</h2>
<body>
    <p>
        Aqui encontraras recetas para poder hacerle la sorpresa a la novia, amante o esposa, es mas hasta para las tres amigo.
    </p>
    <img href="~/Content/Imagenes/OIP.jpg" />

</body>